<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meme's</title>
    <style>
        .bg{
        background-color:iceblue;
        }
        .img{
        height:400px;
        }
        .box{
        width:35%;
        height:20%;
        margin-left:40px;
        margin-top:60px;
        border:10px;
        border-color:black;
        border-width:20px;
        }
    </style>
</head>
<body class="bg">
<div class="box">

        <p align="center">This page contain cookies  <a href="{% url 'profile' %}">Accept</a> <h4>OR</h4> <a href="{% url 'logout' %}">Decline</a></p>

</div>

 </body>
</html>